/* Register.css */

/* .custom-placeholder {
    font-size: 20px;
    background-color: transparent;
  }
  
  /* Custom CSS */

  /* Custom CSS to change the modal background color */
  /* .modal-content {
    background-color: transparent; /* Adjust the alpha value for modal transparency */
  /* }  */
  
  /* .modal-body {
    background-color: transparent; /* Set the modal body background as transparent */
  /* }  */
  
  /* .modal-body input {
    background-color: transparent; /* Adjust the alpha value for field transparency */
  /* }   */
  